<h1>Results of Temperature Conversion</h1>
<p>You started with <%=@temp%> degrees (<%=@units%>).</p>
<p>This is equivalent to <%=conversion(@temp,@units)%> degrees (<%=new_unit(@units)%>).</p>
<p><a href='/temp_converter'>Convert another temperature</a></p>
<p><a href='/'>Back Home</a></p>
